<section class="servise-section">
    <div class="container">
        <div class="servise-section__features-container">
            <h2 class="servise-section__head">MIMIHO</h2>
            <p class="servise-section__business-type">Ресторан</p>
            <p class="servise-section__text">Amet minim mollit non deserunt ullamco est sit 
                aliqua dolor do amet sint. Velit officia consequat
                duis enim velit mollit.</p>
        </div>
        <div class="servise-section__pictures-container">

        </div>
        <div class="servise-section__buttons-container">
            <button>
                Забронювати столик
            </button>
            <button>
                Переглянути меню
            </button>
        </div>
    </div>
</section>